<div class="new_cat_menu">
<% form_for([@menu, @menucategories]) do |f| %>
  <%= f.error_messages %>
  <fieldset>
  <legend>Add category to menu </legend>
  <p>
  </p>

   <p>
   <%= f.label :Category %>:

   <%= collection_select(:menucategory, :category_id,Category.all, :id, :name) %>

  </p>

<%= link_to 'New Menu', new_category_path %>
    <%= f.submit "Add Category" , :class => "submit" %>
 </p>
  </fieldset>
  <p>
  <%= link_to 'Back', menus_path %>
 </p>
<% end %>

</div>
