<div class="restaurant-form">
  <img src="/images/restaurantify.png">
<h1></h1>
<% form_for([@menu, @menucategories]) do |f| %>
  <%= f.error_messages %>
  <fieldset>
  <legend>Add category to menu </legend>
    <p>
    <%= f.label :Category %>:
    <%= collection_select(:menucategory, :category_id,Category.all, :id, :name) %>
   
    <%= f.submit "Add Category" , :class => "submit" %>
 </p>
  <%= link_to 'New Category', new_category_path %>
  <p>
  <%= link_to 'Back',restaurant_menus_path(:restaurant_id => @restaurant.id) %>
 </p>
<% end %>

</div>
