<img src="/images/restaurantify.png">
<h3>Editing menu</h3>

<% form_for(@menus) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @menu %> |
<%= link_to 'Back', menus_path %>