<div id="Menu-list">
  <h1>Restaurant - Menus</h1>

<% if @menus!=nil%>
  <table>
  <% for menu in @menus %>
    <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">


      <td class="list-description">
        <dl>
          <dt><%=h menu.name %></dt>
     </dl>
      </td>

      <td class="list-actions">
        <%= link_to 'Show', menu_menucategories_path(menu)  %><br/>
        <%= link_to 'Add Category',new_menu_menucategory_path(menu)  %><br/>
         <%= link_to 'Edit', edit_menu_path(menu) %><br/>
        <%= link_to 'Destroy', menu,
                    :confirm => 'Are you sure?',
                    :method => :delete %>
      </td>
    </tr>
  <% end %>
  </table>
<% else %>
<%  flash[:notice] = 'No hay Menu.' %>
<% end%>

</div>
<br/>

<%= link_to 'New Menu', new_menu_path %>