<div id="restaurant-list">
<img src="/images/restaurantify.png">
  <% if @menus!=nil%>
<h3> <%=h @restaurant.name%>'s menus</h3>
  <h1></h1>
  <table>
  <% for menu in @menus %>
    <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">


      <td class="list-description">
        <dl>
          <dt><%=h menu.name %></dt>
    
     </dl>
      </td>

      <td class="list-actions">
       
         <% if current_user %>
        <%= link_to 'Add Category',new_menu_menucategory_path(menu)  %><br/>
         <%= link_to 'Edit', edit_menu_path(menu) %><br/>
        <%= link_to 'Destroy', menu,
                    :confirm => 'Are you sure?',
                    :method => :delete %>
           <% end%>
      </td>
    </tr>
  <% end %>
  </table>
<% else %>
<% end%>

</div>
<br/>

