<div class="depot-form">
<% form_for(@menus) do |f| %>
  <%= f.error_messages %>
  <fieldset>
  <legend>Enter Menu Details</legend>
  <p>
  </p>
    <p>
    <%= f.label :Menu %>:
    <%= f.text_field :name, :size => 40 %>
 
  
    <%= f.submit "Add Menu" , :class => "submit" %>
 </p>
  </fieldset>
  <p>
  <%= link_to 'Back', menus_path %>
 </p>
<% end %>

</div>
