<p>
  <b>Name:</b>
  <%=h @diches.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @diches.description %>
</p>

<p>
  <b>Price:</b>
  <%=h @diches.price %>
</p>

<p>
<%= link_to 'Edit', edit_dishes_path(@dishes) %> |
<%= link_to 'Back', dishes_path %>