<div id="restaurant-list">
  <img src="/images/restaurantify.png">
  <h1></h1>
    <table>
      <td class="list-name">
        <dl>
          <dt><%=h @menus.name %>'s Categories</dt>
        </dl>
      </td>
    </table>
<% if current_user%>
      <%= link_to "Add Category to this menu",
        new_menu_menucategory_path(@menus) %>
   <%end%>
  <ul>
    <% for menucategory in @menucategories %>
      <li>
      <h3><%=  menucategory.category.name %></h3>
      <ul>
          <% for dish in menucategory.category.dishes %>
            <li>
               <%= dish.name %>
            </li>
          <% end %>
      </ul>
      <% if current_user%>
        
            <%= link_to_remote "Add Dish to this category", 
              :url => new_dish_path,
              #:url => new_category_dish_path(:category_id => @category.id),
              :method => :get,
              :update => "new_dish_form"
            %>
          
      <%end%>
    </li>
  
  <% end %>
</ul>

<div id="new_dish_form"></div>

<%= link_to 'Edit', edit_menu_path(@menus) %>
<%= link_to 'Back', restaurant_path(@restaurant) %>

</div>