<div id="restaurant-list">
    <table>
      <td class="list-name">
        <dl>
          <dt><%=h @menus.name %>'s Categories</dt>
        </dl>
      </td>
    </table>
 <% if current_user%>
      <%= link_to "Add Category to this menu",
      new_menu_menucategory_path(@menus)%>
   <%end%>


  <ul>
    <% for menucategory in @menucategories %>
      <li>
       <%@category = Category.find(menucategory.category.id)%>
      <h3><%=  @category.name  %></h3>
      <ul>
        <% for dish in @category.dishes %>
          <li>
            <%= dish.name %>
          </li>
        <% end %>
      </ul>
      <% if current_user%>
        <%= link_to "Add Dish to this category",new_restaurant_menu_category_dish_path(params[:restaurant_id],@menus,menucategory.category)%>
      <%end%>

      </li>
    <% end %>
  </ul>

<div id="new_dish_form"></div>
  <%= link_to 'Back', restaurant_path(@restaurant) %>
</div>