<div id="restaurant-list">
  <table>
    <% for restaurant in @restaurants %>
      <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
        <td class="list-description">
          <dl>
            <dt><%= link_to restaurant.name, restaurant %></dt>
            <dd><%=h restaurant.address %></dd>
          </dl>
        </td>
        <td class="list-actions">
         <% if current_user.id==restaurant.user_id %>
           <%= link_to 'Add menu',  new_restaurant_menu_path(restaurant) %><br/>
            <%= link_to 'Edit', edit_restaurant_path(restaurant)%><br/>
            <%= link_to 'Destroy', restaurant,
                         :confirm => 'Are you sure?',
                         :method => :delete %>
          <% end %>
     <% end %>
 </td>
  </tr>

  </table>
  <br /> <br />
  <%= link_to 'New restaurant', new_restaurant_path %>
</div>



