<div class="restaurant-form">
<img src="/images/restaurantify.png">
<h1></h1>

<% form_for(@restaurants) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
</div>

