<div id="restaurant-form">
  <h3>Editing category of restaurants</h3>
  <% form_for(@categories) do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.submit 'Update' %>
    </p>
  <% end %>
  <%= link_to 'Show', categories_path %> |
  <%= link_to 'Back', restaurants_path %>
</div>