<h1>Editing restaurants</h1>

<% form_for(@categories) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @categories %> |
<%= link_to 'Back', category_path %>