<div id="restaurant-list">
   <h3>Editing menu</h3>
  <table>
  <% for category in @categories %>
    <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
      <td class="list-description">
        <dl>
          <dt><%=h category.name %></dt>
        </dl>
      </td>
      <td class="list-actions">
        <%= link_to 'Show',category %><br/>
        <%= link_to 'Edit',edit_category_path(@categories) %><br/>
        <%= link_to 'Edit',new_category_dish_path(@categories) %><br/>
        <%= link_to 'Destroy', category,
                    :confirm => 'Are you sure?',
                    :method => :delete %>
      </td>
    </tr>
  <% end %>
  </table>
  <br />
  <%= link_to 'New Category', new_category_path %>
</div>